<section class="container p-5" id="portfolio">
    <h2 class="text-center">Mis Proyectos</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- primer proyecto -->
        <div class="col">
            <div class="card">
                <img class="d-block mx-lg-auto img-fluid" src="{{ url_for('static', filename='img/todo-list.png')}}" alt="imagen del proyecto">

                <div class="card-body">
                    <h5 class="card-title">Lista de tarea - Flask</h5>
                    <p class="card-text">Este es un proyecto de gestor de lista de tareas que está desarrollado
                        con el framework Flask de python y está conectado a una base de datos relacional.
                        <br>
                        ⏳ Nota: La aplicación está alojada en un servidor gratuito, por lo que puede tardar hasta 1 minuto en iniciar la primera vez.
                    </p>
                    <a href="https://todopython-hbvv.onrender.com/auth/login" class="text-primary fw-bold" target="_blank" rel="noopener noreferrer">Link aqui</a>

                </div>

            </div>
        </div>

        <!-- segundo proyecto -->
        <div class="col">
            <div class="card">
                <img class="d-block mx-lg-auto img-fluid" src="{{ url_for('static', filename='img/blog-post.png')}}" alt="imagen del proyecto">

                <div class="card-body">
                    <h5 class="card-title">BlogPosts - Flask</h5>
                    <p class="card-text">Este es un proyecto completo de blog donde puedes crear y administrar tus propios blogs, también
                         esta creado con Flask y utiliza una base de datos relacional PostgreSQL.
                        <br>
                        ⏳ Nota: La aplicación está alojada en un servidor gratuito, por lo que puede tardar hasta 1 minuto en iniciar la primera vez.

                    </p>
                    <a href="https://blogpython.onrender.com" class="text-primary fw-bold" target="_blank" rel="noopener noreferrer">Link aqui</a>

                </div>

            </div>
        </div>


        <!-- tercer proyecto -->
        <div class="col">
            <div class="card">
                <img class="d-block mx-lg-auto img-fluid" src="{{ url_for('static', filename='img/api-contact.png')}}" alt="imagen del proyecto">

                <div class="card-body">
                    <h5 class="card-title">API Contactos - Flask</h5>
                    <p class="card-text">Este es un proyecto de tipo API-REST para administrar una lista de contactos, está
                        creado con Flask y utiliza una base de datos relacional.
                    </p>
                    <a href="http://" class="nav-link text-primary">Link aqui</a>

                </div>

            </div>
        </div>

        <!-- Agrega mas proyectos si lo deseas -->

        <!-- cuarto proyecto -->
        <div class="col">
            <div class="card">
                <img class="d-block mx-lg-auto img-fluid" src="{{ url_for('static', filename='img/cotizador.png')}}" alt="imagen del proyecto">

                <div class="card-body">
                    <h5 class="card-title">Cotizador criptomonedas - React</h5>
                    <p class="card-text">Aplicación funcional para consulta de valores en tiempo real creada en React/JS.
                    </p>
                    <a href="https://competent-feynman-fb95b8.netlify.app/" class="nav-link text-primary">Link aqui</a>

                </div>

            </div>
        </div>


        <!-- quinto proyecto -->
        <div class="col">
            <div class="card">
                <img class="d-block mx-lg-auto img-fluid" src="{{ url_for('static', filename='img/crm.png')}}" alt="imagen del proyecto">

                <div class="card-body">
                    <h5 class="card-title">Administrador de clientes crm</h5>
                    <p class="card-text">Sistema de gestión de datos de clientes con operaciones CRUD, desarrollado con JavaScript.
                    </p>
                    <a href="https://condescending-hamilton-00dc58.netlify.app/" class="nav-link text-primary">Link aqui</a>
                </div>

            </div>
        </div>


        <!-- sexto proyecto -->
        <div class="col">
            <div class="card">
                <img class="d-block mx-lg-auto img-fluid" src="{{ url_for('static', filename='img/buscador-imagenes.png')}}" alt="imagen del proyecto">

                <div class="card-body">
                    <h5 class="card-title">Buscador imagenes Pixabay - React</h5>
                    <p class="card-text">Integración de APIs externas para visualización dinámica de contenido creada en
                                         React/JS.
                    </p>
                    <a href="https://objective-brattain-25469c.netlify.app/" class="nav-link text-primary">Link aqui</a>
                </div>
                
            </div>
        </div>


    </div>
</section>